@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme inline {
  --font-serif: var(--font-zen-old-mincho);
  --font-sans: var(--font-noto-sans-jp);
  --font-kaisei-decol: var(--font-kaisei-decol);
  --color-black: #441800;
  --color-primary: #a31c00;
}

@layer base {
  html {
    @apply bg-[#fefbef] text-[#441800];
  }
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .shadow-notepad {
    box-shadow:
      6px 6px 6px -6px rgba(0, 0, 0, 0.1),
      6px 6px 6px -6px rgba(0, 0, 0, 0.1);
  }
  .notepad-hover:hover {
    transform: perspective(2000px) rotateX(-10deg) skewX(-10deg);
  }
  .notepad-detail * {
    line-height: 46px !important;
  }

  /* 投稿全体 */
  article {
    @apply !max-w-none !leading-[2.5rem];
  }

  article * {
    @apply !m-0 !leading-[2.5rem];
  }

  /* heading */
  article h1 {
    @apply !text-[2em];
  }

  /* image */
  article p:has(img) {
    @apply flex w-full justify-center;
  }
  article p img {
    @apply h-[20rem] object-contain md:h-[25rem];
  }

  /* video */
  article p:has(iframe) {
    @apply !mx-auto flex h-[12.5rem] w-full justify-center md:h-[20rem];
  }

  /* table */
  article table {
    @apply !w-fit outline outline-gray-300;
  }

  article table * {
    @apply whitespace-nowrap;
  }

  article table thead {
    @apply !border-0;
  }

  article tbody tr {
    @apply !border-0 outline-gray-300 odd:outline;
  }

  article thead tr,
  article tbody tr {
    @apply divide-x divide-gray-300;
  }

  article th,
  article td {
    @apply !px-2 !py-0;
  }

  /* リンク */
  article a {
    @apply hover:no-underline;
  }

  /* トグル */
  article summary {
    @apply cursor-pointer;
  }
}
